.formWrapper {
  border: 1px solid black;
  width: 400px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.input {
  margin-top: 8px;
  height: 20px;
}

.input:hover,
input:focus {
  box-shadow: 0 0 6px 2px rgb(28 146 224 / 50%);
  border: 1px solid rgba(28, 146, 224, 0.678);
  outline: none;
}

.button {
  width: fit-content;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 4px;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(28, 146, 224, 0.678);
  color: white;
  border: transparent;
}
